@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

body {
	font-family: v.$font-primary;
	color: map.get(v.$colors, "text-primary");
	font-size: 1rem;
}

h1 {
	font-weight: 600;
	font-size: map.get(v.$font-sizes, "xl");
}

h2 {
	font-weight: 600;
	font-size: map.get(v.$font-sizes, "lg");
}
