@use "sass:map";
@use "../abstracts/variables" as v;

@mixin flex($justify-content: center, $align-items: center) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
}

@mixin ul {
	background-color: #f5f5f5;
	padding: map.get(v.$spacings, "sm");
	border-radius: 25px;
	@include flex();
	flex-direction: column;
	gap: map.get(v.$spacings, "sm");
	box-shadow: map.get(v.$box-shadows, "lg");
}

@mixin li {
	width: 100%;
	background-color: map.get(v.$colors, "bg-secondary");
	padding: map.get(v.$spacings, "lg");
	@include flex(flex-start);
	gap: map.get(v.$spacings, "md");

	border-radius: 25px;
}
