@use "sass:map";
@use "sass:color";
@use "../abstracts/variables" as v;

@mixin card(
	$background-color: map.get(v.$colors, "bg-secondary"),
	$color: map.get(v.$colors, "text-primary")
) {
	width: 100%;
	background-color: $background-color;
	color: $color;
	border-radius: 24px;
	padding: map.get(v.$spacings, "lg");
	box-shadow:
		0 2px 4px rgba(0, 0, 0, 0.02),
		0 10px 20px rgba(0, 0, 0, 0.04),
		0 20px 40px rgba(0, 0, 0, 0.04);

	overflow: hidden;
}

@mixin button($background-color, $color: #fff, $width: 100%, $padding: 1rem) {
	font-weight: 600;
	font-size: 1.4rem;
	border: none;
	padding: $padding;
	width: $width;
	background-color: $background-color;
	color: $color;
	box-shadow: 0 2px 4px
		color.adjust($background-color, $lightness: -20%, $saturation: 10%);
	border-radius: 50px;

	&:active {
		transform: scale(0.9);
	}
}

@mixin input {
	border-radius: map.get(v.$border-radius, "sm");
	padding: map.get(v.$spacings, "md");

	border: none;

	&:focus {
		outline: 2px solid;
		outline-color: map.get(v.$colors, "primary");
	}
}
