@use "sass:map";
@use "../abstracts/variables" as v;

@mixin card {
	width: 100%;

	background-color: map.get(v.$colors, "bg-secondary");
	border-radius: map.get(v.$border-radius, "sm");
	padding: map.get(v.$spacings, "md");
	box-shadow: 0 4px 12px rgba(30, 20, 0, 0.05);
}
