@use "sass:map";

$font-primary: "Roboto", sans-serif;

$breakpoints: (
	"tablet": 768px,
	"laptop": 1024px,
	"desktop": 1280px,
	"wide": 1536px,
);

$containers: (
	"sm": 200px,
	"md": 400px,
);

$font-sizes: (
	"xs": 0.4rem,
	"sm": 0.8rem,
	"md": 1rem,
	"lg": 1.6rem,
	"xl": 3.6rem,
);

$spacings: (
	"none": 0,
	"xs": 0.2rem,
	"sm": 0.6rem,
	"md": 1rem,
	"lg": 1.6rem,
	"xl": 4rem,
	"xxl": 8rem,
);

$colors: (
	"shadow": #1e14000d,
	"bg-primary": #faf9f7,
	"bg-secondary": #fdfdfd,
	"bg-error": #fef2f2,
	"primary": #e09539,
	"primary-light": #f7aa4d,
	"track": #e8e2da,
	"text-primary": #2c1e1a,
	"text-secondary": #8c7873,
	"text-error": #991b1b,
	"btn-secondary": #e8e2da,
);

$border-radius: (
	"bar": 15px,
	"sm": 8px,
	"md": 25px,
	"lg": 32px,
	"round": 50%,
);
