@use "sass:map";

// --- Fonts --- //
$font-primary: "Inter", sans-serif;
$font-secondary: "Poppins", sans-serif;

$font-sizes: (
	"xs": 0.4rem,
	"sm": 0.8rem,
	"md": 1rem,
	"lg": 1.4rem,
	"xl": 3.6rem,
);

// --- Spacings --- //
$spacings: (
	"none": 0,
	"xs": 0.2rem,
	"sm": 0.6rem,
	"md": 1rem,
	"lg": 1.6rem,
	"xl": 4rem,
	"xxl": 8rem,
);

// --- Colors --- //
$colors: (
	"bg": #e8e0d1,
	"primary": #e09539,
	"track": #d9d0be,
	"text-primary": #2c1e1a,
	"text-secondary": #8c7873,
);

// --- Shadows --- //
$box-shadows: (
	"md": 0 0px 15px -1px rgba(0, 0, 0, 0.1),
	"inset": inset 0 0px 15px -1px rgba(0, 0, 0, 0.1),
);

// --- Border radius //

$border-radius: (
	"sm": 8px,
	"md": 25px,
	"lg": 32px,
	"round": 50%,
);

$max-widths: (
	"sm": 360px,
	"md": 400px,
	"lg": 600px,
);
