@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.block {
	display: inline-block;
}

.highlight {
	color: map.get(v.$colors, "primary");
	font-size: map.get(v.$font-sizes, "md");
}

.subtle {
	color: map.get(v.$colors, "text-secondary");
	font-size: map.get(v.$font-sizes, "sm");
}

.blur {
	filter: blur(0.2rem);
}
