@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.block {
	display: inline-block;
}

.highlight {
	color: map.get(v.$colors, "primary");
}

.subtle {
	color: map.get(v.$colors, "text-secondary");
}
