@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.block {
	display: inline-block;
}

.highlight {
	color: map.get(v.$colors, "primary");
	font-size: map.get(v.$font-sizes, "md");
}

.subtle {
	color: map.get(v.$colors, "text-secondary");
	font-size: map.get(v.$font-sizes, "sm");
}

.blur {
	filter: blur(0.1rem);
}

.hidden {
	display: none;
}

.is-open {
	.ham-menu__line {
		position: absolute;
	}

	.ham-menu__line:nth-child(1) {
		transform: rotate(45deg);
	}
	.ham-menu__line:nth-child(2) {
		opacity: 0;
		transform: translateX(20px);
	}
	.ham-menu__line:nth-child(3) {
		transform: rotate(-45deg);
	}
}

.error {
	outline: red;
}
