@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.bottom-bar {
	@include mix.flex(space-around, center);
	padding: map.get(v.$spacings, "lg");
	background-color: map.get(v.$colors, "bg-primary");
	width: 100vw;
	position: fixed;
	bottom: 0;
	left: 0;

	.bottom-bar__link {
		color: map.get(v.$colors, "primary");
	}
}
