@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	padding: map.get(v.$spacings, md);
}

.btn--save {
	width: 100%;
	background-color: #63bf3c;
	color: white;
	border-radius: map.get(v.$border-radius, "md");
	font-size: 1rem;
	box-shadow: 0 4px 12px rgba(30, 20, 0, 0.05);
}

.add-log__button {
	width: 0;
	height: 0;
	padding: 1.8rem;
	border-radius: 50%;
	background-color: map.get(v.$colors, "primary");
	color: map.get(v.$colors, "font-primary");
	box-shadow: 0 4px 12px rgba(30, 20, 0, 0.05);

	&:active {
		transform: scale(0.98);
		background-color: map.get(v.$colors, "primary-light");
	}
}
