@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	padding: map.get(v.$spacings, md);
}
