@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: map.get(v.$colors, "bg-secondary");
	border: none;
	width: 44px;
	height: 44px;
	border-radius: map.get(v.$border-radius, "round");
}
