@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.caffeine-monitor {
	@include mix.card;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: map.get(v.$spacings, "md");

	margin-top: map.get(v.$spacings, "md");

	&__bar {
		width: 100%;
		height: 15px;
		background-color: map.get(v.$colors, "track");
		position: relative;
		overflow: hidden;
		border-radius: map.get(v.$border-radius, "bar");
	}

	&__bar-svg {
		height: 15px;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__sleep {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	rect {
		fill: map.get(v.$colors, "primary");
		transition: width 0.4s ease-in;
	}
}
