@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.drink-card {
	@include mix.card;
	display: flex;
	flex-direction: column;

	&:hover {
		cursor: pointer;
	}

	&--closed {
		.drink-card__actions {
			max-height: 0;
			opacity: 0;
		}
	}

	&__container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 1rem;
	}

	&__actions {
		display: flex;
		justify-content: center;
		max-height: 200px;
		opacity: 1;
		transition:
			max-height 0.2s ease,
			opacity 0.2s ease;
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: map.get(v.$border-radius, "round");
	}

	&__details {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;

		&-title {
			font-size: 1.2rem;
		}
		&-time {
			color: map.get(v.$colors, "text-secondary");
		}
	}

	&__caffeine {
		font-weight: 600;
		margin-left: auto;
	}

	&__button {
		height: 44px;
		width: 44px;
		background-color: transparent;
		border: none;
		color: map.get(v.$colors, "text-primary");

		&:hover {
			cursor: pointer;
		}
	}
}
