@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.drink-card {
	@include mix.card;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		// padding: map.get(v.$spacings, "md");
		border-radius: map.get(v.$border-radius, "round");
		// background-color: map.get(v.$colors, "track");
	}

	&__details {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;

		&-name {
			font-size: 1.2rem;
		}
		&-time {
			color: map.get(v.$colors, "text-secondary");
		}
	}

	&__caffeine {
		margin-left: auto;
	}
}
