@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.ham-menu {
	border: none;
	background-color: map.get(v.$colors, "bg-primary");

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.3rem;
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 2;
	border: none;
	background-color: map.get(v.$colors, "bg-primary");

	&__line {
		width: 30px;
		height: 4px;
		background-color: black;
		transition:
			transform 0.3s ease,
			opacity 0.3s ease;
		transform-origin: center;
		border-radius: 15px;
	}
}
