@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.header {
	width: 100%;
	margin-bottom: map.get(v.$spacings, "lg");

	&__content {
		width: 100%;

		&--dashboard {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&--log {
			position: static;
			top: 0;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: map.get(v.$spacings, "lg");
	}

	&__title {
		font-weight: 800;
		margin-bottom: map.get(v.$spacings, "sm");
	}

	&__back-btn {
		background-color: map.get(v.$colors, "bg-primary");
		border: none;
		color: map.get(v.$colors, "text-secondary");
	}
}
