@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.intake {
	@include mix.flex();
	flex-direction: column;
	gap: map.get(v.$spacings, "xl");
	max-width: map.get(v.$max-widths, "sm");
	margin: 0 auto map.get(v.$spacings, "xl");

	.intake__progress {
		position: relative;
		background: conic-gradient(
			map.get(v.$colors, "primary") 23%,
			map.get(v.$colors, "secondary") 0%
		);
		width: 240px;
		height: 240px;
		border-radius: map.get(v.$border-radius, "round");
		box-shadow: map.get(v.$box-shadows, "lg");

		.intake__progress-value {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@include mix.flex();
			flex-direction: column;
			gap: map.get(v.$spacings, "xs");

			span {
				font-size: map.get(v.$font-sizes, "xl");
			}
		}

		&::before {
			content: "";
			width: 180px;
			height: 180px;
			position: absolute;
			background-color: map.get(v.$colors, "bg-primary");
			border-radius: map.get(v.$border-radius, "round");
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			box-shadow: map.get(v.$box-shadows, "inset");
		}
	}
}

.intake__list {
	@include mix.ul();

	.intake__list-item {
		@include mix.li();
	}

	.intake__list-item-time {
		margin-left: auto;
	}
}
