@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.intake {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: map.get(v.$spacings, "xxl");

	&__title {
		margin-right: auto;
		margin-bottom: map.get(v.$spacings, "md");
		padding-left: map.get(v.$spacings, "md");
	}

	&__progress-bar {
		position: fixed;
		position: relative;
		background: conic-gradient(
			map.get(v.$colors, "primary") var(--progress, 0%),
			map.get(v.$colors, "bg-primary") 0%
		);
		width: 280px;
		height: 280px;
		border-radius: map.get(v.$border-radius, "round");
		box-shadow: map.get(v.$box-shadows, "inset");
		margin-bottom: map.get(v.$spacings, "xl");

		&-value {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@include mix.flex();
			flex-direction: column;
			gap: map.get(v.$spacings, "xs");

			span {
				font-size: map.get(v.$font-sizes, "xl");
			}
		}
		&::before {
			content: "";
			width: 160px;
			height: 160px;
			position: absolute;
			background-color: map.get(v.$colors, "bg-primary");
			border-radius: map.get(v.$border-radius, "round");
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			box-shadow: map.get(v.$box-shadows, "md");
		}
	}
}

.intake__list {
	@include mix.ul();

	.intake__list-item {
		@include mix.li();
	}

	.intake__list-item-time {
		margin-left: auto;
	}
}
