@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.log {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: map.get(v.$spacings, "xxl");

	&__shortcuts {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 0.6rem;
		margin-bottom: map.get(v.$spacings, "lg");

		& button {
			font-size: map.get(v.$font-sizes, "md");
			padding: 0.6rem 1.6rem;
			background-color: map.get(v.$colors, "bg-primary");
			color: map.get(v.$colors, "primary");
			border: none;
			border-radius: map.get(v.$border-radius, "md");
			box-shadow: map.get(v.$box-shadows, "md");
		}
	}

	&__list {
		@include mix.ul();
	}

	&__item {
		@include mix.li();

		&-caffeine {
			margin-left: auto;
		}
	}
}
