@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.log {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: map.get(v.$spacings, "xxl");

	&__list {
		@include mix.ul();
	}

	&__item {
		@include mix.li();

		&-caffeine {
			margin-left: auto;
		}
	}
}
