@use "../abstracts/variables" as v;
@use "sass:map";

.search-bar {
	position: relative;

	&__input {
		background-color: map.get(v.$colors, "bg-primary");
		width: 180px;
		height: 37px;
		border: none;
		padding-left: map.get(v.$spacings, "md");
		padding-right: 2rem;
		border-radius: map.get(v.$border-radius, "md");
		box-shadow: map.get(v.$box-shadows, "md");
		font-size: map.get(v.$font-sizes, "md");

		transition: width 0.3s ease;

		&--closed {
			width: 32px;
			padding: 0;
		}

		&:focus {
			outline: none;
		}
	}

	&__button {
		background-color: map.get(v.$colors, "bg-primary");
		position: absolute;
		top: 0;
		right: 0;
		width: 37px;
		height: 37px;

		border: none;
		border-radius: map.get(v.$border-radius, "round");
	}
}
