@use "sass:map";
@use "sass:color";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.search {
	width: 100%;
	background-color: map.get(v.$colors, "bg-secondary");
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 8px;
	height: 40px;
	border-radius: map.get(v.$border-radius, "md");
	margin-bottom: map.get(v.$spacings, "sm");
	box-shadow: 0 4px 12px rgba(30, 20, 0, 0.05);
	border: none;
	transition: all 0.1s ease;

	&:focus-within {
		@include mix.focus-ring();
	}

	&__input {
		height: 100%;
		font-size: map.get(v.$font-sizes, "md");
		margin-left: 0.4rem;

		background-color: map.get(v.$colors, "bg-secondary");
		border: none;
		flex: 1;

		&:focus {
			outline: none;
		}
	}

	&__icon {
		padding: 1rem;
		display: flex;
		justify-content: center;

		&:hover {
			cursor: pointer;
		}
	}
}
