@use "../abstracts/variables" as v;
@use "sass:map";

.search-bar {
	position: relative;

	&__input {
		background-color: map.get(v.$colors, "bg-secondary");
		width: 140px;
		height: 44px;
		border: none;
		border-bottom: 1px solid black;
		padding-left: map.get(v.$spacings, "md");
		padding-right: 2rem;
		font-size: map.get(v.$font-sizes, "md");

		transition: width 0.3s ease;

		&--closed {
			width: 44px;
			padding: 0;
		}

		&:focus {
			outline: none;
		}
	}

	&__button {
		background-color: map.get(v.$colors, "bg-secondary");
		position: absolute;
		top: 0;
		right: 0;
		width: 44px;
		height: 44px;

		border: none;
	}
}
