@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.shortcuts {
	width: 100%;
	// margin-bottom: map.get(v.$spacings, "lg");
	padding-bottom: 1rem;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;

	.shortcut-btn {
		box-shadow: 0 4px 12px rgba(30, 20, 0, 0.05);
		flex-grow: 1;
		font-size: map.get(v.$font-sizes, "md");
		padding: 0.6rem 1.6rem;
		background-color: map.get(v.$colors, "bg-secondary");
		border: none;
		border-radius: map.get(v.$border-radius, "md");

		&--active {
			background-color: map.get(v.$colors, "primary");
		}
	}
}
