@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.log__shortcuts {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 0.6rem;
	margin-bottom: map.get(v.$spacings, "lg");

	.log__shortcut-btn {
		flex-grow: 1;
		font-size: map.get(v.$font-sizes, "md");
		padding: 0.6rem 1.6rem;
		background-color: map.get(v.$colors, "bg-primary");
		color: map.get(v.$colors, "primary");
		border: none;
		border-radius: map.get(v.$border-radius, "md");
		box-shadow: map.get(v.$box-shadows, "md");

		&--active {
			background-color: map.get(v.$colors, "primary");
			color: map.get(v.$colors, "secondary");
		}
	}
}
