@use "sass:color";
@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.steps {
	width: 100%;
	height: 100%;
	padding: map.get(v.$spacings, "md");
	display: flex;
	flex-direction: column;

	@media (min-width: map.get(v.$breakpoints, "tablet")) {
		width: map.get(v.$containers, "md");
		justify-content: space-between;
		padding: 0;
	}

	&__card {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		gap: 2rem;

		@media (min-width: map.get(v.$breakpoints, "tablet")) {
			flex: 0;
		}
	}

	&__title {
		text-align: center;
	}
	&__input {
		font-size: 2.4rem;
		text-align: center;
		width: 120px;
		height: 120px;
		border-radius: 25px;
		background-color: map.get(v.$colors, "bg-secondary");
		border: none;
		box-shadow: 3px 8px 15px rgba(30, 20, 0, 0.05);

		&:focus {
			@include mix.focus-ring();
		}
	}

	&__button {
		margin-top: auto;
		@include mix.button(map.get(v.$colors, "primary"), #fff);

		@media (min-width: map.get(v.$breakpoints, "tablet")) {
			margin-top: 1rem;
		}
	}

	&__toggle {
		display: flex;
		background-color: map.get(v.$colors, "bg-secondary");
		width: 140px;
		height: 50px;
		border-radius: 50px;
		padding: 0.3rem;
		box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.05);
		position: relative;
		margin-top: 1rem;

		&-option {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 2;
			font-weight: 700;
			font-size: 1.1rem;
			color: map.get(v.$colors, "text-secondary");
			transition: color 0.3s ease;

			&:hover {
				cursor: pointer;
			}

			input {
				display: none;
			}

			&:has(input:checked) {
				color: map.get(v.$colors, "text-primary");
				background-color: #fff;
				border-radius: 40px;
				box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
			}
		}
	}
}
