@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.survey {
	// filter: blur(1rem);
	background-color: map.get(v.$colors, "bg-primary");
	height: 100%;
	display: flex;
	flex-direction: column;

	&__progress-bar {
		width: 80%;
		height: 5px;
		border-radius: 25px;
		background-color: map.get(v.$colors, "primary");
	}
}
